@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Posterman";
    src: url(../public/posterman/Posterman.otf);
  }
  @font-face { 
    font-family: "coolvetica";
    src: url(../public/coolvectica/coolvetica.otf);
  }
  body{
    background-color: #1D1D1D;
  }
  .bg{
    position: absolute;
    height: 100vh;
    background-image: url('./assets/bg.png');
  background-repeat: no-repeat; 
        
  background-position: center;  
  width: 100%;
  }
  .space {
    display: inline-block;
    width: 500px; /* Adjust width as needed for the desired space */
  }
  
  @layer components {
    .scrolling-text {
      @apply inline-block whitespace-nowrap;
      animation: scroll 40s linear infinite;
    }
  
    @keyframes scroll {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  
    .scrolling-text-right {
      @apply inline-block whitespace-nowrap;
      animation: scrollr 40s linear infinite;
    }
  
    @keyframes scrollr {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  
    .scrolling-text-connect {
      @apply inline-block whitespace-nowrap;
      animation: scrollc 5s linear infinite;
    }
  
    @keyframes scrollc {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  }